<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="centraliza">Lista de Reservas</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr class="centraliza">
            <th>Responsável</th>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th >Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms | async">
            <td>{{room.name}}</td>
            <td>{{room.date}}</td>
            <td>{{room.startHour}}</td>
            <td>{{room.endHour}}</td>
            <td class="align">
              <button (click)="roomDetails(room.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
              <button (click)="updateRoom(room.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button> 
              <button (click)="deleteRoom(room.id)" class="btn btn-danger" style="margin-left: 10px">Apagar</button>               
              <!-- <a class="btn btn-success" style="margin-left: 10px" href="../add" >Reservar Nova</a> -->
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-success" style="margin-left: 10px" href="../add" >Reservar Nova</a>
    </div>
  </div>
  